.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    // padding: 50px 15px;

    width: 100%;
    height: 100%;

    background-color: getColor('bg-backdrop');

    overflow-y: scroll;

    opacity: 1;
    visibility: visible;
    transition: opacity $duration $cubic-bezier,
    visibility $duration $cubic-bezier;
}

.backdrop--is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}