.buttons-list {
    @include centeredFlex;
    @extend %list;
    margin-bottom: 50px;
}

.buttons-list__item {
    &:not(:last-child) {
        margin-right: 8px;
    }
}

.buttons-list__button {
    padding: 6px 22px;

    border-radius: 4px;
    border: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    color: getColor('text-accent');

    background: getColor('bg-accent');

    cursor: pointer;
    transition: color $duration $cubic-bezier,
    background-color $duration $cubic-bezier,
    box-shadow $duration $cubic-bezier;

    &:hover,
    &:focus {
        color: getColor('primary-white');
        background-color: getColor('button');
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}