.doings-list {
    @include centeredFlex;
    @extend %list;
}

.doings-list__item {
    position: relative;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.doings-list__image {
    @extend %image;
}

.doings-list__description {
    position: absolute;
    left: 0;
    bottom: 0;
    @include centeredFlex;

    height: 70px;
    width: 100%;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: getColor('primary-white');

    background-color: getColor('bg-card');
}