.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: getColor('bg-second');
}

.footer__container {

    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: baseline;
    }
}