.hero {
    padding: 118px 0;
    max-width: 480px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    background-color: getColor('bg-second');
    background-image:
        linear-gradient(
            to right,
            getColor('bg-hero'),
            getColor('bg-hero')
            ),
        url(../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-width: $tablet) {
        padding: 118px 0;
        max-width: $tablet;
        height: 400px;
    }

    @media screen and (min-width: $desktop) {
        padding: 200px 0;
        max-width: 1600px;
        height: 600px;
    }
}

.hero__title {
    box-sizing: content-box;
    margin: 0 auto 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: getLetterSpacing('second');
    text-transform: uppercase;

    color: getColor('primary-white');

    @media screen and (min-width: $tablet) {
        width: 360px;
        font-size: 26px;
        line-height: 1.62;
    }

    @media screen and (min-width: $desktop) {
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}