.mailing-form {
    @media screen and (max-width: calc($desktop - 1px)) {
        text-align: center;
    }

    @media screen and (min-width: $desktop) {
        margin-left: auto;
    }
}

.mailing-form__label {
    @extend %footer-title;
}

.mailing-form__send-block {
    @media screen and (min-width: $desktop) {
        display: flex;
        flex-direction: row;
    }
}

.mailing-form__input {
    padding: 0 0 0 16px;
    width: 100%;
    height: 50px;

    color: getColor('primary-white');
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    
    border-width: 1px;
    border-style: solid;
    border-color: getColor('border-send');
    border-radius: 4px;

    filter: drop-shadow(0px 4px 4px getColor('shadow'));

    background-color: transparent;

    &:focus {
        outline: 1px solid getColor('primary-white');
    }

    &::placeholder {
        color: getColor('contacts');
    }

    @media screen and (min-width: $tablet) and (max-width: calc($desktop - 1px)) {
        width: 450px;
    }

    @media screen and (max-width: calc($desktop - 1px)) {
        margin-bottom: 20px;
    }

    @media screen and (min-width: $desktop) {
        margin-right: 12px;
        width: 358px;
    }
}