.menu-container {
    @media screen and (max-width: calc($tablet - 1px)) {
        position: fixed;
        top: 0;
        left: 0;

        display: none;
    
        width: 100%;
        height: 100%;
    
        padding: 48px 40px;
    
        background-color: getColor('primary-white');
    
        &.is-open {
            display: block;
        }
    }

    @media screen and (min-width: $tablet) {
        @include centeredFlex;
    }
}