.portfolio-set {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.portfolio-card {
    flex-basis: 370px;
   
    margin-left: 30px;
    margin-top: 30px;
}

.portfolio-card__link {
    text-decoration: none;
    color: inherit;
    transition: box-shadow $duration $cubic-bezier;

    &:hover,
    &:focus {
        display: block;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio-card__image-box {
    position: relative;
    overflow: hidden;
}

.portfolio-card__image {
    @extend %image;
}

.portfolio-card__description {
    @include centeredFlex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-right: 24px;
    padding-left: 24px;

    line-height: 1.56;
    color: getColor('primary-white');
    background-color: getColor('bg-portfolio-card');

    transform: translateY(100%);
    transition: transform $duration $cubic-bezier;

    .portfolio-card__link:hover & {
        transform: translateY(0);
    }
}

.portfolio-card__content-box {
    flex-basis: 100%;
    padding: 20px 24px;

    border-width: 1px;
    border-style: solid;
    border-color: getColor('border-card');
    border-top: none;

    background: getColor('primary-white');
}

.portfolio-card__title {
    @extend %title;
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: getLetterSpacing('second');
    color: getColor('text-accent');
}

.portfolio-card__text {
    font-size: 16px;
    line-height: 1.88;
}