.regular-costumers-list {
    @extend %list;
    @include centeredFlex;

    @media screen and (max-width: calc($desktop - 1px)) {
        flex-wrap: wrap;

        $margin: 30px;
        margin-left: -$margin;
        margin-top: -$margin;
    }
}

.regular-costumers-list__item {
    height: 92px;

    $margin: 30px;
    flex-basis: calc((100% - $margin * 2) / 2);

    margin-left: $margin;
    margin-top: $margin;

    @media screen and (min-width: $tablet) {
        flex-basis: calc((100% - $margin * 3) / 3);
    }

    @media screen and (min-width: $desktop) {
        width: 170px;
    
        &:not(:last-child) {
            margin-right: $margin;
        }
    }
}

.regular-costumers-list__link {
    @include centeredFlex($type: inline-flex);
    width: 100%;
    height: 100%;

    border-width: 1px;
    border-style: solid;
    border-color: getColor('border-costumers');

    color: getColor('icon-primary');
    transition: color $duration $cubic-bezier,
    border-color $duration $cubic-bezier;

    &:hover,
    &:focus {
        color: getColor('button');
        border-color: getColor('button');
        outline: 0px solid getColor('primary-white');
    }
}

.regular-costumers-list__icon {
    fill: currentColor;
}

.regular-costumers-list__descr--visually-hidden {
    @extend %visually-hidden;
}