.section {
    @include section;

    @media screen and (min-width: $desktop) {
        @include section($top: 94px, $bottom: 94px);
    }
}

.section__title {
    @extend %section-title;
}

.section__title--visually-hidden {
    @extend %visually-hidden;
}

.section--padding-top-removed {
    @include section($top: 0);
}

.section--hidden {
    display: none;

    @media screen and (min-width: $desktop) {
        display: block;
    }
}

.section--accent {
    background-color: getColor('bg-accent');
}